@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

/* General Properties*/

*{
    font-family: 'Inconsolata', monospace;
    color: #9C9C9C;
}
.break-line-main{
    display: flex;
    justify-content: center;
}
.break-line-content{
    background-color: #9c9c9c;
    width: 500px;
    height: 5px;
    border-radius: 15px;
    margin: 10px;
}
.break-line{
    background-color: #9c9c9c;
    width: 100px;
    height: 5px;
    border-radius: 15px;
    margin: 10px;
}
body{
    background-color: #252735;
}

.pfp{
    border-radius: 500px;
    margin: 25px;
    height: 200px;
    width: 200px;
}

nav{
    height: 60px;
    display: flex;
    justify-content: center;
    
}
nav ul li {
    text-decoration: none;
    display: inline;
}
nav ul li a {
    text-decoration: none;  
    font-family: sans-serif;
    color: #9c9c9c;
    transition: color 0.5s;
    margin-inline: 15px;
}
nav ul li a:hover{
    color: #fff;
    border-radius: 15px;
}

header .flags__item img{
    width: 35px;
}
.flags {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.flags__item {
    margin-right: 10px;
}
header{
    color: #fff;
}
header ,h5{
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}

/* About Me Page */

section{
    text-align: center;
}
h1{
    color: #fff;
}
section div img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
section .cards{
    width: 200px;
    height: 300px;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}
section .cardscont{
    display: inline-block;
    margin: 5px;
}

section #rinf{
    width: 300px;
    height: 200px;
    text-align: centre;
}
section #rinf img{
    width: 300px;
    height: 200px;
    border-radius: 9px;
}

section .cardsp {
    height: 300px;
    width: 200px;
    border: 1px solid #9c9c9c;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    transition: 0.5s; /* Agrega una transición para suavizar los cambios */
}

section .cardsp img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
    transition: 0.5s;
}

section .cardsp:hover {
    box-shadow: 1px 1px 3px 1px #fff;
    width: 210px;
    height: 310px;
    margin: 10px;
}

/* Agrega una regla adicional para revertir los cambios */
section .cardsp:not(:hover) {
    box-shadow: none;
    width: 200px;
    height: 300px;
}
footer{
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
footer a img{
    margin: 8px;
    width: 30px;
}