@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

/* General Properties*/

*{
    font-family: 'Inconsolata', monospace;
    color: #9C9C9C;
}
.break-line-main{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.break-line-content{
    background-color: #9c9c9c;
    width: 500px;
    height: 5px;
    border-radius: 15px;
    margin: 10px;
}
.break-line{
    background-color: #9c9c9c;
    width: 100px;
    height: 5px;
    border-radius: 15px;
    margin: 10px;
}
body{
    background-color: #252735;
}

.pfp{
    border-radius: 500px;
    margin: 25px;
    height: 200px;
    width: 200px;
}

nav{
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 5px;
    
}
nav ul{
    padding: 0;
}
nav ul li {
    text-decoration: none;
    display: inline;
    
}
nav ul li a {
    text-decoration: none;  
    font-family: sans-serif;
    color: #9c9c9c;
    transition: color 0.5s;
    margin-inline: 10px;
}
nav ul li a:hover{
    color: #fff;
    border-radius: 15px;
}

header .flags__item img{
    width: 35px;
}
.flags {
    display: flex;
    justify-content: center; 
}

.flags__item {
    margin-right: 10px;
}
header{
    color: #fff;
}
header ,h5{
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
}

/* About Me Page */

section{
    text-align: center;
}
h1{
    color: #fff;
}
section div img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
section .cards{
    width: 200px;
    height: 300px;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}
section .cardscont{
    display: inline-block;
    margin: 15px;
}

section #rinf{
    width: 300px;
    height: 200px;
    text-align: centre;
}
section #rinf img{
    width: 300px;
    height: 200px;
    border-radius: 9px;
}

section .cardsp {
    height: 360px;
    width: 200px;
    border: 1px solid #9c9c9c;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    transition: 0.5s; 
}

section .cardsp img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
    transition: 0.5s;
}

.projects .cardsp img{
    height: 80px;
}
.projects .cardsp{
    padding: 10px;
}

footer{
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
footer a img{
    margin: 8px;
    width: 30px;
}
.cardsp {
    position: relative;
}

.cardsp #lang {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.cardsp #lang img {
    width: 30px;
    height: 30px;
    margin: 10 5px; 
}

#wumpus, #cl, #hg, #u{
    width: 120px;
}

/*contact form*/
#contact {
    margin: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.form-box {
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px; /* Ajuste del margen */
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: none;
}

.inputbox input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
    margin: 10px;
}
.inputbox textarea {
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
    margin: 10px;
    resize: none;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: -5px;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: none;
    margin: 5px;
}

button:hover {
    color: black;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}